modules/bathroom light switch/src/nr.json
[
    {
        "id": "f11b0b11.ee6f78",
        "type": "comment",
        "z": "e57d8994.e26148",
        "name": "========  Bathroom  ========",
        "info": "",
        "x": 570,
        "y": 1240,
        "wires": []
    },
    {
        "id": "78132503.3baeac",
        "type": "mqtt in",
        "z": "e57d8994.e26148",
        "name": "bathroom",
        "topic": "homie/dual_r2/#",
        "qos": "2",
        "broker": "2bd2afca.e962e",
        "x": 187.00000762939453,
        "y": 1367.0000839233398,
        "wires": [
            [
                "313bfa26.f8e376"
            ]
        ]
    },
    {
        "id": "608089d3.b14628",
        "type": "ui_chart",
        "z": "e57d8994.e26148",
        "name": "",
        "group": "952aad44.37b49",
        "order": 3,
        "width": "6",
        "height": "3",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "No data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#5ea6d9",
            "#ede9c5",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 550,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "14129219.ee529e",
        "type": "mqtt out",
        "z": "e57d8994.e26148",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "2bd2afca.e962e",
        "x": 1090,
        "y": 1460,
        "wires": []
    },
    {
        "id": "313bfa26.f8e376",
        "type": "switch",
        "z": "e57d8994.e26148",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "online$",
                "vt": "str",
                "case": true
            },
            {
                "t": "cont",
                "v": "stats/signal",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "offtime-start-hhmm$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "offtime-end-hhmm$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "on-time-s$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "power1$",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "power2$",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 7,
        "x": 350,
        "y": 1380,
        "wires": [
            [
                "af524c72.6b295"
            ],
            [
                "247db825.de71c8"
            ],
            [
                "a97c480c.6e4a28"
            ],
            [
                "dfae6230.d247b"
            ],
            [
                "b6cb9d80.7c4e2"
            ],
            [
                "dff92d95.9ed14",
                "a0fe3256.0e84c"
            ],
            [
                "90d58226.16b25",
                "a0fe3256.0e84c"
            ]
        ]
    },
    {
        "id": "247db825.de71c8",
        "type": "ui_gauge",
        "z": "e57d8994.e26148",
        "name": "Wifi",
        "group": "952aad44.37b49",
        "order": 5,
        "width": "4",
        "height": "2",
        "gtype": "gage",
        "title": "WiFi",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#dd0000",
            "#e6e600",
            "#009b27"
        ],
        "seg1": "30",
        "seg2": "60",
        "x": 510,
        "y": 1360,
        "wires": []
    },
    {
        "id": "dff92d95.9ed14",
        "type": "ui_switch",
        "z": "e57d8994.e26148",
        "name": "",
        "label": "Lower light",
        "tooltip": "Turn on/off remotely",
        "group": "952aad44.37b49",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "homie/dual_r2/bathroom/power1/set",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 850,
        "y": 1520,
        "wires": [
            [
                "14129219.ee529e"
            ]
        ]
    },
    {
        "id": "c1fd4e75.314f1",
        "type": "ui_text",
        "z": "e57d8994.e26148",
        "group": "952aad44.37b49",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Do Not Blind Me Between...",
        "format": "",
        "layout": "row-center",
        "x": 720,
        "y": 1360,
        "wires": []
    },
    {
        "id": "a97c480c.6e4a28",
        "type": "ui_numeric",
        "z": "e57d8994.e26148",
        "name": "",
        "label": "Start, HHMM",
        "tooltip": "Format: HHMM",
        "group": "952aad44.37b49",
        "order": 7,
        "width": "0",
        "height": "0",
        "passthru": true,
        "topic": "homie/dual_r2/bathroom/offtime-start-hhmm/set",
        "format": "{{value}}",
        "min": 0,
        "max": "2359",
        "step": 1,
        "x": 750,
        "y": 1400,
        "wires": [
            [
                "ec0afd3.1204e"
            ]
        ]
    },
    {
        "id": "dfae6230.d247b",
        "type": "ui_numeric",
        "z": "e57d8994.e26148",
        "name": "",
        "label": "End, HHMM",
        "tooltip": "Format: HHMM",
        "group": "952aad44.37b49",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "topic": "homie/dual_r2/bathroom/offtime-end-hhmm/set",
        "format": "{{value}}",
        "min": 0,
        "max": "2359",
        "step": 1,
        "x": 750,
        "y": 1440,
        "wires": [
            [
                "ec0afd3.1204e"
            ]
        ]
    },
    {
        "id": "b6cb9d80.7c4e2",
        "type": "ui_numeric",
        "z": "e57d8994.e26148",
        "name": "",
        "label": "Light for, sec",
        "tooltip": "Retriggering timeout for light. In seconds.",
        "group": "952aad44.37b49",
        "order": 9,
        "width": "0",
        "height": "0",
        "passthru": false,
        "topic": "homie/dual_r2/bathroom/on-time-s/set",
        "format": "{{value}}",
        "min": 0,
        "max": "600",
        "step": "5",
        "x": 750,
        "y": 1480,
        "wires": [
            [
                "ec0afd3.1204e"
            ]
        ]
    },
    {
        "id": "90d58226.16b25",
        "type": "ui_switch",
        "z": "e57d8994.e26148",
        "name": "",
        "label": "Upper light",
        "tooltip": "Turn on/off remotely",
        "group": "952aad44.37b49",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "homie/dual_r2/bathroom/power2/set",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 850,
        "y": 1560,
        "wires": [
            [
                "14129219.ee529e"
            ]
        ]
    },
    {
        "id": "6cf8331a.f4507c",
        "type": "ui_template",
        "z": "e57d8994.e26148",
        "group": "952aad44.37b49",
        "name": "GrRd Led",
        "order": 4,
        "width": "2",
        "height": "2",
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <h4>Status: </h4>\n   {{((msg.payload === 0) ? '&#128064;' : '&#9989;')}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "99cf7f1a.519c5",
        "type": "influxdb out",
        "z": "e57d8994.e26148",
        "influxdb": "7270567d.341408",
        "name": "",
        "measurement": "bathroom",
        "precision": "s",
        "retentionPolicy": "",
        "x": 810,
        "y": 1600,
        "wires": []
    },
    {
        "id": "3da1cbad.5d1a04",
        "type": "function",
        "z": "e57d8994.e26148",
        "name": "json2influx_obj",
        "func": "var obj = {};\nobj[msg.topic]=msg.payload;\nmsg.payload = obj;\nmsg.topic = \"\";\nnode.status({text: JSON.stringify(obj)});\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1580,
        "wires": [
            [
                "99cf7f1a.519c5",
                "6e6389b3.22fcb8"
            ]
        ]
    },
    {
        "id": "ec0afd3.1204e",
        "type": "trigger",
        "z": "e57d8994.e26148",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "10",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "topic",
        "name": "delay 10sec",
        "x": 930,
        "y": 1420,
        "wires": [
            [
                "14129219.ee529e"
            ]
        ]
    },
    {
        "id": "af524c72.6b295",
        "type": "function",
        "z": "e57d8994.e26148",
        "name": "msg2digit",
        "func": "var old = msg.payload;\nnode.status({text: msg.topic + ':???:' +old});\nif (msg.payload === null) return;\n\nif (msg.payload === true || \n    msg.payload.toLowerCase() == 'open' || \n    msg.payload.toLowerCase() == 'on' ||\n    msg.payload.toLowerCase() == 'true' ||\n    parseInt(msg.payload) > 0) { msg.payload = 1 }\nelse if (msg.payload === false || \n    msg.payload.toLowerCase() == 'close' || \n    msg.payload.toLowerCase() == 'off' ||\n    msg.payload.toLowerCase() == 'false' ||\n    parseInt(msg.payload) <= 0) { msg.payload = 0 }\n    else return;\n\nnode.status({text: old + \">>\" + msg.payload});\n\ntry{\n    // Get 1st word from the end of topic\n    msg.topic = msg.topic.split('/').slice(-1)[0];\n} catch (er) {\n    node.status({text: 'Topic error'});\n    return null;\n}\nnode.status({text: '>>' + old + \",\" + msg.payload});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1320,
        "wires": [
            [
                "6cf8331a.f4507c"
            ]
        ]
    },
    {
        "id": "a0fe3256.0e84c",
        "type": "change",
        "z": "e57d8994.e26148",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": ".*power1.*",
                "fromt": "re",
                "to": "Lower",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": ".*power2.*",
                "fromt": "re",
                "to": "Upper",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1540,
        "wires": [
            [
                "3da1cbad.5d1a04",
                "608089d3.b14628",
                "6e6389b3.22fcb8"
            ]
        ]
    },
    {
        "id": "6e6389b3.22fcb8",
        "type": "debug",
        "z": "e57d8994.e26148",
        "name": "bathroom_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 1640,
        "wires": []
    },
    {
        "id": "56a74766.64fae8",
        "type": "mqtt in",
        "z": "e57d8994.e26148",
        "name": "time_mqtt",
        "topic": "homie/#",
        "qos": "2",
        "broker": "2bd2afca.e962e",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "9bf74ee6.6b008"
            ]
        ]
    },
    {
        "id": "9bf74ee6.6b008",
        "type": "switch",
        "z": "e57d8994.e26148",
        "name": "time only",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "/time$",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 40,
        "wires": [
            [
                "4c075a45.edac24"
            ]
        ]
    },
    {
        "id": "4c075a45.edac24",
        "type": "function",
        "z": "e57d8994.e26148",
        "name": "Epoch time",
        "func": "var x = new Date();\nvar tzOffsetMin = x.getTimezoneOffset();\n\nmsg.topic = msg.topic + \"/set\";\nmsg.payload = Date.now() - tzOffsetMin * 60 * 1000;\n\nvar min = 60 * 1000;\nvar hour = min * 60;\nvar day = hour * 24;\nvar year = day * 365;\nvar hours_today = Math.floor(msg.payload % day / hour);\nvar mins_today = Math.floor(msg.payload % hour / min);\nnode.status({text: hours_today + \":\" + mins_today});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 40,
        "wires": [
            [
                "59946ab5.30c9a4"
            ]
        ]
    },
    {
        "id": "59946ab5.30c9a4",
        "type": "mqtt out",
        "z": "e57d8994.e26148",
        "name": "boiler",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "2bd2afca.e962e",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "2bd2afca.e962e",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "952aad44.37b49",
        "type": "ui_group",
        "z": "",
        "name": "Bathroom",
        "tab": "531ef1f0.9a426",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7270567d.341408",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "shim",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "531ef1f0.9a426",
        "type": "ui_tab",
        "z": "",
        "name": "MyHome",
        "icon": "home",
        "order": 1
    }
]